body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* text-align: center;
  align-items: center; */
background-color: #f2f6fc;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.square{

font-size: larger;
padding: 20px;
text-decoration: none;
margin: 5px;
border: none;
}


.square_div{

text-align: center;
margin-top: 8%;
/* border: 1px black; */
background-color: rgb(255, 255, 255);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(128, 0, 255);
/* outline-color: rgb(106, 0, 255); */

background-color: azure;
font-size: 25px;
width: 400px;
margin-left: 35%;
border-width: 1px;
border-color: rgb(200, 56, 56);
border: 1px;
padding-top: 10px;
padding-bottom: 10px;
/* outline: black; */
border-radius: 10%;
box-shadow: 1px 1px 1px 2px #00000013;

}



.form_element_div{

  padding: 2px;


}

.form_element{
  /* border: none; */
  border-color:rgba(0, 255, 255, 0.382);
  font-weight: bolder;
  border-width: 0.1px;
  outline-color: aqua;
  /* outline: none; */
  padding: 10px;
  width: 300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 5px;
  text-decoration-color:aqua ;
  font-size: medium;
  box-shadow:black, 1px;
  height: 20px;


  
}


.button_log{

  /* border: none; */
  outline: aqua;
  margin-left: 70px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* background-color: aqua; */
  border-radius: 20px;
  font-size: 20px;
  cursor:pointer;
  color: rgb(255, 255, 255);
  height: 35px;
  width: 100px;
  border-width: 1px;  
  border-color: rgb(128, 0, 255); 

   
  background-color: rgb(128, 0, 255)  ;
  /* border: none; */
  box-shadow: 1px 1px 1px 2px #00000013;

  
}


.password, a{
  position:relative;
  height: 1px;
  /* margin-top: 60%; */
  margin-bottom: 1%;
  /* margin-right: 24%; */
  font-size: smaller;
  text-decoration: none;
  /* color: aqua; */


}

.button_div{

  /* background-color: black; */
margin-left:5px ;
margin-right: 70px;

}

.link_div{
  
  color: aqua;
  /* background-color: antiquewhite; */
  /* margin-bottom: 1000px; */
  margin-top: -15px;
  text-align: left;
  margin-left: 40px;
  font-size: 15px;

}


.secured_page{

  text-align: center;
  align-items: end;

  /* outline: none; */

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* border-radius: 5px; */
  text-decoration-color:aqua ;
  font-size: 20px;
  box-shadow:black, 1px;
  height: 20px;
  color: rgb(106, 0, 255);

  padding: 70px;
  border: 2px aqua solid;
  background-color: #f0ffff;


  /* width: 100%; */
  /* margin-left: 100px; */
  
}

.multiple_choice{
  /* background-color: aquamarine; */
  text-align: start;
  align-items: start;
  margin-top:15px;
  margin-left: 200px;
  margin-right: 200px;

}


textarea {
  /* Font properties */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  
  /* Text properties */
  color: #333; /* Text color */
  line-height: 1.5; /* Line height */
  padding: 10px; /* Padding for text */

}

.choice{
  font-size: medium;
  color: black;
  height: 15px;
  padding: 5px;
  margin: 5px;
  text-decoration-color:aqua ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  outline-color: aqua;
  border-radius: 5px;
  outline-color: aqua;
  border-color: aqua;
  height: 20px;
  border-width: 1px; 
  border-color:rgba(0, 255, 255, 0.382);
  /* font-style:oblique; */
  font-weight: bolder;
  text-align: start;
  



}



.question_input{
  font-size: medium;
  width: 400px;
  align-items: end;
  margin: 5px;
  text-decoration-color:aqua ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  outline-color: aqua;
  border-radius: 5px;
  border-color: aqua;
  height: 35px;
  border-width: 1px; 
  border-color:rgba(0, 255, 255, 0.382);
  
  font-weight: bolder;

  /* width: 100px; */
  


  /* text-align: ce; */
}


.button_sec{

  outline: aqua;
  /* margin-left: 70px; */
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* background-color: aqua; */
  border-radius: 20px;
  font-size: 20px;
  cursor:pointer;
  color: rgb(255, 255, 255);
  height: 35px;
  width: 150px;
  border-width: 1px; 
   border-color: rgb(128, 0, 255); 
  background-color:rgb(106, 0, 255);
  /* border: none; */
  box-shadow: 1px 1px 1px 2px #00000013;


}

.textarea_sec{
  border-width: 1px; 
  border-color:rgba(0, 255, 255, 0.382);
  outline-color: aqua;
  font-weight: bolder;
}

.select_option{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-color:rgba(0, 255, 255, 0.382);
  font-weight: bolder;  
  font-size: 15px;
  height: 30px;

}


.options{
  font-weight: bolder;
  
}


.button_sec_home{

  outline: rgb(128, 0, 255);
  /* margin-left: 70px; */
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* background-color: aqua; */
  border-radius: 20px;
  font-size: 25px;
  cursor:pointer;
  color: rgb(255, 255, 255);
  height: 45px;
  width: 250px;
  border-width: 1px; 
  border-color: rgb(128, 0, 255); 
  background-color:rgb(106, 0, 255);
  /* border: none; */
  /* box-shadow: 1px 1px 1px 2px #00000013; */


}


.square_div_Exam{

text-align: center;
margin-top: 1px;
/* border: 1px black; */
background-color: rgb(255, 255, 255);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(69, 2, 136);
/* outline-color: rgb(106, 0, 255); */
/* color: black; */
background-color: azure;
font-size: 15px;
max-width:400 px;
/* margin-right: 35%; */
/* margin-left: 35%;   */
border-width: 1px;
border-color: rgb(200, 56, 56);
border: 1px;
padding-top: 10px;
padding-bottom: 5px;
/* outline: black; */
border-radius: 2px;
box-shadow: 1px 1px 1px 2px #00000013;
}